<!DOCTYPE html>
<html lang="en">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://unpkg.com/tachyons/css/tachyons.min.css"
  />
  <body class="bg-dark-gray mw6 center code moon-gray">
    <nav class="pa3 tc">
      <a href="/" class="link dim underline light-gray">Home</a>
      <a href="/blog" class="link dim underline light-gray">Blog</a>
      <a href="/art" class="link dim underline light-gray">Art</a>
      <a href="/resume" class="link dim underline light-gray">Resume</a>
    </nav>
    {{ content | safe }}
    <div class="pa3 tc">&copy; 2021 Ashley Fisher</div>
  </body>
</html>
