.bg-dark-purple {
  background: hsl(272, 97%, 13%)
    linear-gradient(to right, hsl(272, 97%, 13%), hsl(250, 87%, 29%));
}

ul {
  padding-left: 1.25rem;
}

.job-header {
  margin-bottom: 0;
}

@media screen {
  .print-only {
    display: none;
  }

  #resume-body {
    margin-bottom: 20px;
  }

  @media (max-width: 600px) {
    #resume-body {
      display: block;
    }

    #resume-body > div {
      width: 100%;
      padding-right: 0;
    }
  }
}

@media print {
  .screen-only {
    display: none;
  }

  html {
    font-size: 10px;
  }

  * {
    color: black !important;
  }

  #main-content {
    max-width: 100%;
    padding: 4rem;
  }

  .underline {
    text-decoration: none;
  }
}
