.bg-header {
  background: hsl(186, 100%, 24%)
    linear-gradient(to right, hsl(186, 100%, 24%), hsl(186, 98%, 39%));
}

html {
  font-family: 'Golos Text';
  background-color: hsl(190, 51%, 90%);
}

ul {
  padding-left: 1.25rem;
}

a {
  color: hsl(7, 90%, 40%);
}

.headshot {
  border-radius: 9999px;
}

.job-header {
  margin-bottom: 0;
}

.footer {
  border-top: 1px solid hsl(189, 36%, 70%);
}

@media screen {
  .print-only {
    display: none;
  }

  #resume-body {
    margin-bottom: 20px;
  }

  @media (max-width: 800px) {
    #resume-body {
      display: block;
    }

    #resume-body > div {
      width: 100%;
      padding-right: 0;
    }
  }
}

@media print {
  .screen-only {
    display: none;
  }

  html {
    font-size: 10px;
  }

  * {
    color: black !important;
  }

  #main-content {
    max-width: 100%;
    padding: 4rem;
  }

  .underline {
    text-decoration: none;
  }
}
