body {
  font-family: 'Golos Text';
  /* background-color: hsl(180, 3%, 8%); */
  overflow-y: scroll;
  /* color: hsl(191, 53%, 87%); */
  max-width: 720px;
  margin: 10px auto;
}

:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
a {
  /* color: hsl(7, 90%, 40%); */
  text-decoration-thickness: 2px;
}
a:focus {
  border-radius: 2px;
}
a:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.bg-header {
  /* background: hsl(186, 100%, 24%) */
    /* linear-gradient(to right, hsl(186, 100%, 24%) 60%, hsl(186, 98%, 39%)); */
}

.container {
  border: solid 2px black;
  padding: 0 12px;
  display: flex;
}

ul {
  padding-left: 1.25rem;
}

.headshot {
  align-self: flex-end;
  margin-top: -9999999px;
  margin-left: 10px;

  @media (max-width: 500px) {
    width: 160px;
    height: 160px;
  }
}

.job-header {
  margin-bottom: 0;
}

.footer {
  border-top: 1px solid hsl(189, 36%, 70%);
}

@media screen {
  #resume-body {
    margin-bottom: 20px;
  }

  @media (max-width: 800px) {
    #resume-body {
      display: block;
    }

    #resume-body > div {
      width: 100%;
      padding-right: 0;
    }
  }
}

@media print {
  .screen-only {
    display: none;
  }

  html {
    font-size: 10px;
  }

  * {
    color: black !important;
  }

  #main-content {
    max-width: 100%;
    padding: 4rem;
  }

  .underline {
    text-decoration: none;
  }
}
